* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* ALL element stylings */
body {
    background: #2d2d2d;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

nav {
    padding: 0;
    align-items: center;
    justify-content: center;
    display: inline-block;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    z-index: 0;
}
  header button, a {
      padding: .5% 2%;
      margin: 2% 2%;
      cursor: pointer;
      text-decoration: none;
      color: #a5b3aa;
      font-size: 18px;
      letter-spacing: .18em;
      font-family: 'Montserrat', sans-serif;
      background-color: transparent;
      border: none;
      border-radius: 6px;
  } 

   header button:hover, a:hover {
      transition: .5s;
      color: rgb(218, 65, 73);
  }

  footer {
      background-color: rgb(61, 61, 61);
      width: 100%;
    }

/* DROPDOWN MENU FOR MOBILE */

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.5s;
    top: 0;
    right: 0;
    background-color: #2d2d2d;
    cursor: pointer;
    text-align: center;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .dropbtn {
    opacity: 1;
    position: fixed;
    top: 0;
    right: 2%;
    font-size: 22px;
    display: inline-block;
    padding: 1%;
    background: transparent;
    color: white;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
}

  .trigger-menu img:hover {
    transform: rotate(45deg);
    transition: transform 0.4s;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

/* ----- End of Dropdown Menu -----*/

/* ----- form styling ----- */

input, .input {
    max-width: 100%;
    height: auto;
    padding: 1%;
    border-radius: 5px;
    box-sizing: border-box;
    margin: .5%;
}

#message {
    width: 60%;
    height: auto;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 2%;
    resize: none;
}

.contact-frm-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* ALL classes and Universal Styles */
.banner-top, .banner-btm {
    background-color: inherit;
    background-image: url(/images/radfox-nahil-naseer-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    overflow-y: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 5%;
 }

 .container-2 {
    top: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 5%;
 }
 
 .text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.paragraphs {
    padding: 2%;
    font: normal 20px/40px 'Montserrat', sans-serif;
    color: rgb(173, 172, 172);
    text-align: center;
    border-radius: 5px;
} 

.padding {
    padding-left: 10%;
    padding-right: 10%;
}

.padded-top { padding-top: 2%; }
  
  .Iam {
    padding-left: 5%;
    padding-right: 5%;
    font: normal 40px/50px Montserrat, sans-serif;
    color: rgb(173, 172, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: auto;
   }

    .Iam div {
        padding-bottom: 10%;
        text-align: center;
        overflow: hidden;
    }
  .Iam p {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    width: auto;
    font-size: 30px;
  }
  .Iam b {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    bottom: 1;
    height: 50px;
    top: 40px;
    width: auto;
   }

    .Iam .innerIam {
        display: inline-block;
        color: rgb(67, 139, 77);/*rgb(218, 65, 73);*/
        position: relative;
        white-space: nowrap;
        top: 0;
        left: 0;
      
  /*animation*/
  -webkit-animation:move 10s;
     -moz-animation:move 10s;
      -ms-animation:move 10s;
       -o-animation:move 10s;
          animation:move 10s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }

  /* Hexagon Css 

.hexagon
      {   overflow: hidden;
          visibility: hidden;
          -webkit-transform: rotate(120deg);
          -moz-transform: rotate(120deg);
          -o-transform: rotate(120deg);
          transform: rotate(120deg);
          cursor: pointer;
      }
      
      .hexagon-in1
      {   overflow: hidden;
          width: 100%;
          height: 100%;
          -webkit-transform: rotate(-60deg);
          -moz-transform: rotate(-60deg);
          -o-transform: rotate(-60deg);
          transform: rotate(-60deg);
      }
      
      .hexagon-in2
      {   width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: 50%;
          background-color: rgb(49, 102, 56);
          background-image: linear-gradient(0deg, #00000088 35%, #ffffff44 100%);
          visibility: visible;
          -webkit-transform: rotate(-60deg);
          -moz-transform: rotate(-60deg);
          -o-transform: rotate(-60deg);
          transform: rotate(-60deg);
      }
      
      .hexagon-in2:hover
      {   background-image: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
      }
      
      .hexagon2
      {   width: 200px;
          height: 400px;
          margin: -80px 0 0 20px;
      }*/

      .laptop {
          padding-right: 5%;
          padding-left: 5%;
      }
      .laptop p {
          font-size: 20px;
      }

      #row {
          flex-direction: row;
      }

      .link {
        color: rgb(84, 177, 97);
        visibility: visible;
        overflow: hidden;
        max-height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .link:hover {
        color: rgb(67, 139, 77);
      }

      /* Services Css */

      .bg-image {
        background-color: rgb(90,90,90);
        background-size: cover;
        background-position: center;
      }
      /* clickable boxes */
      
      .clickable-box {
        color: inherit;
        text-decoration: none;
        box-shadow: 0 rgba(0, 0, 0, 0); /* so that we can add a transition */
        transition: 0.2s all;
        display: inline-block;
        background: linear-gradient(0deg, #17241b93 30%, #02740244 100%);
        border-radius: 5px;
      }
      
      .clickable-box .overlay {
        min-height: 12rem;
        padding: 3rem 1rem;
        background-color: rgba(0,0,10,0.4);
        color: rgb(185, 184, 184);
      }
      
      .clickable-box p {
        margin-bottom: 0;
        padding-bottom: 4%;
      }
      
      .clickable-box:hover {
        background-color: rgba(0,0,10,0.6);
        box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.4), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
        margin-top:-2px;
      }

      .clickable-box a, #btn-border {
          color: inherit;
          box-sizing: border-box;
          border: 1px solid rgb(165, 164, 164);
          padding: 4%;
      }

      .clickable-box a:hover {
          background-color: rgb(2, 49, 8);
      }

      #btn-border {
          font-size: 15px;
      }

  .btn {
    color: rgb(224, 221, 221);
    background-color:  rgb(59, 122, 67);/*rgb(67, 139, 77);*/
    display: inline-block;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    height: auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
      .btn:hover {
          color: rgb(224, 221, 221);
          background-color: rgb(49, 102, 56);
      }

      .mobile-display {
        display: none;
    }

    #portfolio {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #portfolio a {
        padding: 0;
    }

   
  
  /* The Close Button */
  .close1, .close2, .close3 {
    color: #f1f1f1;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus,
  .close2:hover,
  .close2:focus,
  .close3:hover,
  .close3:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
  }

  .left     {  text-align: left;     }
  .right    {  text-align: right;    }
  .centered {  text-align: center;   }


  .padded   {  padding: 2% 4%;    }
  .padded-05 {  padding: 0.5rem;  }
  .padded-1 {  padding: 1rem;  }
  .padded-2 {  padding: 2rem;  }

  /* ANIMATED SCROLL */
  /* SCROLL ANIMATION */
  .aos {
    position: relative;
    top: 20px;
    opacity: 0;
    transition: 0.5s ease-out;
    }
.aos.active {
    top: 0;
    opacity: 1;
    transform: translateY(-20px);
    transition: .8s ease-in;
}
.flexxy {
    display: flex;
    justify-content: space-around;
    padding: 5% 3% 3% 3%;
}
.bgd-square {
    padding: 3% 5%;
    text-align: center;
    justify-content: center;
}

    .angle {
        /*clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 60%, 50.5% 100%, 25% 75%, 0% 55%);*/
        /* message clip clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 48% 100%, 50% 75%, 0% 75%);*/
        clip-path: polygon(100% 0%, 100% 60%, 50% 100%, 50% 100%, 0 60%, 0 0);
        background-color: rgb(53, 53, 53);
        height: 75vh;
    }


  /* ---------------- min-width medias ------------------- */

  @media (min-width:1300px) {
/* bigger texts. Use class large-screen. Possibly larger form but not sure yet */
    .laptop {
        font-size: 26px;
        padding-right: 10%;
        padding-left: 10%;
    }
    
    .large-screen {
        font-size: 24px;
    }

    .Iam {
        font-size: 30px;
        padding-right: 10%;
        padding-left: 10%;
    }
    .innerIam {
        font-size: 38px;
    }
  }

  @media (min-width:1600px) {
/* i think a little more margin is all this needs. Use class large-screen */
    .laptop {
        font-size: 30px;
        padding: 2% 10%;
    }

    .large-screen {
        padding: 2%;
    }

    .Iam {
        font-size: 36px;
    }
    .innerIam {
        font-size: 38px;
    }
    
    .Iam div {
        padding-bottom: 4%;
    }
}

  @media (min-width:1800px) {
    header a {
        font-size: 22px;
    }
    
  }

  /*----------------- max-width medias --------------------*/

@media (max-width:900px) {

    .mobile-hide {
        display: none;
    }

    .tablet h2 {
        font-size: 28px;
    }

    .tablet p {
        font-size: 20px;
    }

    .Iam p {
        /*color: rgb(212, 212, 8);*/
        font-size: 30px;
    }

    .tiny p {
        font-size: 15px;
        padding: 2% 4%;
    }

}


@media (max-width:770px) {

    .trigger-menu {
        font-size: 20px;
        padding: 2%;
       }
    
    .mobile h2 {
        font-size: 22px;
        padding: 5%;
    }

    .mobile p {
        font-size: 25px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .Iam p {
        font-size: 25px;
        padding: 0px;
    }

    header button, a {
        font-size: 20px;
    }

    #select {
        height: 3rem;
        width: 100%;
    }

    .contact-frm-inputs {
        padding: 2%;
        margin-bottom: 2%;
        max-width: 100%;
    }

    #message {
        padding: 2%;
        margin-bottom: 3%;
        max-width: 100%;
    }

    .btn {
        width: 80%;
        max-height: auto;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .angle {
        clip-path: polygon(100% 0%, 100% 60%, 49% 80%, 0 60%, 0 0);
        height: 80vh;
    }
    
}

@media (max-width:678px) {
    header button, #a {
        display: none;
    }

    .mobile-header {
        font-size: 20px;
        z-index: 2;
    }
    .banner-top {
        padding: 8%;
    }

    #body .mobile-display {
        display: inline-block;
        padding: 4%;
        width: 100%;
        font-size: 3%;
        position: fixed;
        top: 1%;
        left: 10%;
        width: 100%;
        z-index: 2;
        color: rgb(173, 172, 172);
    }
 
}

@media (max-width:500px) {
    
    
    .mobile-header {
        font-size: 20px;
        z-index: 2;
    }
    .banner-top {
        padding: 10%;
    }

    .banner-btm {
        padding: 1%;
    }

    .innerIam {
        font-size: 22px;
    }

    .mobile p {
        padding-left: 2%;
        padding-right: 2%;
        font-size: 18px;
    }

    .sidenav {padding-top: 15px;
        padding-top: 80px;}
    .sidenav a {font-size: 18px;}
 
    .border-buttons {
        font-size: 15px;
    }
}

/* ----- END OF MEDIA QUERIES ----- */